<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Order</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Add New Order</h1>
            <form method="POST">
            {% csrf_token %}

            <h3>Order</h3>
            {{ order_form.as_p }}

            <h3>Items</h3>
            {{ item_form.as_p }}

            <div class="actions">
                <button type="submit">SAVE ORDER</button>
            </div>
        </form>
        <a href="/" class="cancel-link">Cancel</a>
    </div>
</body>
</html>