<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter Username" style="margin-bottom: 15px; display:block;">
            <input type="password" name="password" placeholder="Enter Password" style="margin-bottom: 15px; display:block;">
            <input type="submit" name="btnLogin" value="Login" style="margin-right: 20px;">
            <span class="msg">{{ msg }}</span>
        </form>
    </div>
</body>
</html>