<!DOCTYPE html>
<html>
<head>
    <title>Add New Restaurant</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Add New Restaurant</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="{% url 'restaurant_index' %}">Back to Home</a>
</body>
</html>