<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Forms</title>
</head>
<body>
    <h1>Restaurant Management Forms</h1>
    <ul>
        <li><a href="{% url 'add_new_restaurant' %}">Add New Restaurant</a></li>
        <li><a href="{% url 'add_new_category' %}">Add New Category</a></li>
        <li><a href="{% url 'add_new_menu' %}">Add New Menu</a></li>
        <li><a href="{% url 'add_new_menu_item' %}">Add New Menu Item</a></li>
    </ul>

    <br>
    <a href="/">Back to Dashboard</a>
</body>
</html>